@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
  }

  h1 {
    @apply mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 text-left;
  }

  button {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5;
  }

  label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }

  input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  h3 {
    @apply mb-4 text-lg font-extrabold leading-none tracking-tight text-gray-900;
  }
}

@layer components {

  .alt-btn {
    @apply py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-200;
  }
}